<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArchiveCell</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_archive.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://ffo3gv1cf3ir.merlincdn.net/static_lib/assetsv2/common/images/content/turkcell-logo.png?1773534948009" sizes="32x32">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light turkcell-bg-color-blue mb-4">
          <div class="container-fluid">
             <a class="navbar-brand text-white d-flex align-self-center align-items-center" asp-area=""  asp-controller="Record" asp-action="Index">
                <img src="https://ffo3gv1cf3ir.merlincdn.net/static_lib/assetsv2/common/images/content/turkcell-logo.png?1773534948009" class="turkcell-logo" alt="Turkcell">
                <div class="mx-2">
                 <span class="turkcell-yellow ">Archive</span>
                 <span class="ml-0 px-0 fw-bold text-white archive-logo-text">Cell</span>
                </div>
             </a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @if (Context.Session.GetString("username") != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Record" asp-action="Index">Records</a>
                        </li>
                    }
               
              </ul>


              <!--Checking user's session if already logged in or not-->
             
             @if (Context.Session.GetString("username") != null)
                    {
                        <div class="nav-item"> <a class="nav-link px-0 text-white" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>  </div>
                    }
                   @* else
                    {
                         <div class="nav-item"> <a class="nav-link px-0 text-white" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>  </div>
                    }*@


            </div>
          </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2022 - ArchiveCell
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
