@model RecordsModel;
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form>
    
    <div>
        <label asp-for="Description">Title</label>
        <input asp-for="Description" placeholder="Enter Title"/>
    </div>

    <div>
        <label asp-for="Description">Title</label>
        <input asp-for="Description" placeholder="Enter Title"/>
    </div>
    <div>
         <label asp-for="Description">Title</label>
         <input asp-for="Description" placeholder="Enter Title"/>
    </div>
    <button>Create</button>
</form> 

