@model RecordsModel;
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form>
    <label asp-for="Description">Title</label>
    <input asp-for="Description" placeholder="Enter Title"/>
    <button>Create</button>
</form> 

