td, th  {
    border: solid;
}
body{
    text-align: center;
}
.hepsi {
    text-align: center;
}
.table1 {
    text-align: center;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
}
body{
    
    background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  

  
}
.nav {
    margin-left: auto;
    width: 72;
}
