input[type=number] {
    
    padding: 0.75em; 
    width: 100%;
    box-sizing: border-box; 
    margin-top: 0.375em; 
    margin-bottom: 1em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;  
}

input[type=text] {
    width: 100%; 
    padding: 0.75em; 
    border: 0.0625em solid #ccc;
    box-sizing: border-box; 
    margin-top: 0.375em; 
    margin-bottom: 1em; 
}
  
  
input[type=submit] {
    background-color: gray;
    color: white;
    border: gray;
    border-radius: 0.25em;
    padding: 0.75em 1.25em;
}
  
  
input[type=submit]:hover {
    background-color: black;
}
  
  
fieldset {
    border-radius: 0.3125em;
    background-color: #f2f2f2;
    padding: 1.25em;
}

textarea {
    width: 100%; 
    padding: 0.75em; 
    border: 0.0625em solid #ccc;
    border-radius: 0.25em; 
    box-sizing: border-box; 
    margin-top: 0.375em; 
    margin-bottom: 1em;
}

input[type=email] {
    
    padding: 0.75em; 
    width: 100%;
    box-sizing: border-box; 
    margin-top: 0.375em; 
    margin-bottom: 1em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;  
}

.title1 {
    text-align: center;
    font-weight: bold;
    
}
form {
    font-family: sans-serif;
}

.logo {
    padding: 1.25em;
    font-size: 3.125em;
    width: 3.125em;
    text-decoration: none;
    text-align: left;
}
.space {
    width: 10%;

}
.num {
    position: relative;
    margin-bottom: 6.25em;
}
.end {
    padding-top: 0.625em;
}
.link {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    background-color: gray;
    color: white;
    border: gray;
    
    padding: 0.75em 1.25em;
    
}
.link:hover {
    background-color: black;
}