
@model UsersModel;

@{
    ViewData["Title"] = "Login";
}

<div class="row login-row">
    <div class="col-4 d-flex flex-column align-items-center justify-content-center">
          <form class="login-form p-4  w-75 mx-auto text-center" asp-controller="Auth" asp-action="Login" method="POST">
    
             <h3  style="font-weight: normal;" class="navbar-brand text-white d-flex justify-content-center align-self-center align-items-center">
                      
                        <div class="px-2">
                            <span class="turkcell-yellow ">Archive</span>
                            <span class="ml-0 px-0 fw-bold text-white archive-logo-text">Cell</span>
                        </div>
                    </h3>
            <input asp-for="Email" type="email" value="test1@outlook.com"   class="form-control my-2" placeholder="Email Address" required autofocus/>

            <input asp-for="Password" type="password" value="test1"   class="form-control my-2" placeholder="Password" required autofocus/>
       
            
            
            @if(ViewBag.error != null)
        {
            <div id="loginError" class="my-4 alert alert-danger">
               @ViewBag.error
            </div>

             }
         
            
  
            <div class="mt-2 w-100">
                <button type="submit" class="btn btn-sm btn-primary w-100">Login</button>
            </div>
        </form>
    </div>
    <div class="col-8 login-block bg-dark d-flex flex-column align-items-center "><div class="overlay"></div></div>
</div>

      




       <script>
                const isError = @(ViewBag.error != null ? "true" : "false");
                const loginError = document.querySelector("#loginError");
                if(isError){
                     setTimeout(()=>{
                        loginError.remove();
                       
                    },3000);
                    }
            </script>
               